.idea/
.vscode/
node_modules/
.DS_Store
Thumbs.db
.env
/vendor/
/bootstrap/cache/
/storage/*.key
/storage/logs/
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/views/
/database/*.sqlite
