<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^login/?$ login.html [NC,L]
    RewriteRule ^register/?$ register.html [NC,L]
    RewriteRule ^product-details/?$ product-details.html [NC,L]
    RewriteRule ^contact/?$ contact.html [NC,L]
    RewriteRule ^products/?$ products.html [NC,L]
    RewriteRule ^dashboard/?$ dashboard.html [NC,L]
</IfModule>
